<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164253024580-4jdj2p43bemt14l9g29h0uv0qba98moa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164253024580-4jdj2p43bemt14l9g29h0uv0qba98moa</string>
	<key>API_KEY</key>
	<string>AIzaSyCmIzwsblAUyALpzjOlH5U_EifFwTb2UVk</string>
	<key>GCM_SENDER_ID</key>
	<string>164253024580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ricardohui.com</string>
	<key>PROJECT_ID</key>
	<string>uber-9151e</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-9151e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164253024580:ios:73c4cf6b70ff0360</string>
	<key>DATABASE_URL</key>
	<string>https://uber-9151e.firebaseio.com</string>
</dict>
</plist>